<html>
<head></head>
<body>

	The Patient is located at : <%= @destination.address %>
	<% @location.each do |i| %> <br />
	Distance from Ambulance located at <%= i.address %> is : <%= @destination.distance_to(i) %><br />
	<% end %>
</body>
</html>